<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomforest.time_change_detector_example">
   <application
        android:label="time_change_detector_example"
        android:icon="@mipmap/ic_launcher">
                <receiver
                  android:name="com.randomforest.time_change_detector.TimeChangeDetectorPlugin"
                  android:exported="true">
                  <intent-filter>
                      <action android:name="android.intent.action.TIME_SET" />
                      <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                      <action android:name="android.intent.action.DATE_CHANGED"/>
                  </intent-filter>
              </receiver>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                 <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
  
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
