name: "Publish package to pub.dev"
on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    env:
      flutter_version: '3.24.3'
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 'stable'
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          channel: 'stable'
      - name: Install dependencies
        run: |
          flutter pub get
          cd example
          flutter pub get
          cd ..
      - name: Run dry run and check for errors
        run: dart pub publish --dry-run
      # - name: Verify example app builds successfully
      #   working-directory: example
      #   run: flutter build apk
      - name: Publish package
        env:
          PUB_ENVIRONMENT: 'github-action'
        run: dart pub publish --force
